{% extends "mygallery/album/base.html" %}
{% load static %}
{% block title %}首页{% endblock title %}

{% block content %}

    <div class="container py-2">
        <div class="row" data-masonry='{"percentPosition": true}' id="cards">
             {% for album in albumlist %}
            <div class="col-4 py-2 grid-item">
                <div class="card hvr-float-shadow">
                    <div style="padding:10px 0 1px 0;background: #f0ad4e;">
                        <h6 style="text-align:center">{{ album.Album_name }}</h6>
                    </div>
                    <a href="../photo/webindex/{{ album.id }}">
                        <img
                        src="{% static 'pics/' %}{{ album.cover }}"
                        alt=""
                        class="card-img"
                        >
                    </a>
                </div>
            </div>
             {% endfor %}
        </div>

     <!-- Modal -->
    {% for album in albumlist  %}
        <div class="modal fade" id="album-{{ album.id }}">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                            <img
                            src="{% static 'pics/' %}{{album.cover}}"
                            alt=""
                            class="card-img"
                            >
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block scripts %}

<script type='text/javascript'>
    $(window).on('load', function() {
        $('#cards').masonry({
        // options
        itemSelector: '.grid-item'
        });
    })
</script>
{% endblock scripts %}
