<!-- Footer -->
<div><br><br><br></div>
<style type="text/css">
a.btn{
    color: #ffffff;
    background: #f0ad4e;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px;
    text-decoration: none;
    vertical-align: middle;
}
.footer-top{
    position: center;
}
</style>

<footer class="py-3 bg-dark fixed-bottom">
        <div class="gcs-footer">
            <div class="text-center">
                {% for album in albumlist %}
                    <a href="#" class="btn">编辑相册</a>|
                    <a  href="../upload/{{ album.id }}" class="btn" >添加照片</a>
                    <a href="#" class="btn">删除照片</a>
                {% endfor %}
            </div>
            <p class="m-0 text-center text-white">
            Copyright &copy; 电子科技大学软件工程12小组
            </p>
        </div>
</footer>