{% extends "myadmin/base.html" %}

{% block main_body %}

    <!-- Content Header (Page header) -->
<section class="content-header" xmlns="http://www.w3.org/1999/html">
      <h1>
        用户管理
        <small>云相册系统后台管理</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">用户信息管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <h2 class="box-title"> <span class="glyphicon glyphicon-calendar" aria-hidden="true"> 添加用户</h2>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% url 'myadmin_user_insert' %}" method="post">
              {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">* 用户名：</label>
                  <div class="col-sm-4">
                    <input type="text" name="User_name" class="form-control" placeholder="请输入用户名">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">性别：</label>
                  <div class="col-sm-4">
                    <select name="User_gender" class="form-select col-lg-2">
                        <option selected value="">...</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">* 密码：</label>
                  <div class="col-sm-4">
                    <input type="password" name="User_password" class="form-control" placeholder="请输入密码">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">邮箱：</label>
                  <div class="col-sm-4">
                    <input type="email" name="User_email" class="form-control" placeholder="请输入邮箱地址">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">联系方式：</label>
                  <div class="col-sm-4">
                    <input type="tel" name="User_phone" class="form-control" placeholder="请输入手机或电话号码">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">提交</button> &nbsp;
                  <button type="reset" class="btn btn-default">重置</button>
                  <a role="button" class="pull-right" href="{% url 'myadmin_user_index' 1 %} ">
                      <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> 返回</a>
                  <div class="col-sm-offset-2 col-sm-10"></div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->

{% endblock %}

{% block sidebar %}
        <li><a href="{% url 'myadmin_index' %}"><i class="fa fa-home"></i> <span>首页</span></a></li>

        <li class="active"><a href="{% url 'myadmin_user_index' 1 %}"><i class="fa fa-users"></i> <span>用户信息管理</span></a></li>
        <li><a href="shop.html"><i class="fa fa-sitemap"></i> <span>店铺管理</span></a></li>
        <li class="treeview">
          <a href="category.html"><i class="fa fa-cutlery"></i> <span>菜品管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="category.html"> <i class="fa fa-circle-o"></i> 菜品分类</a></li>
            <li><a href="product.html"> <i class="fa fa-circle-o"></i> 菜品信息</a></li>
          </ul>
        </li>
        <li><a href="orders.html"><i class="fa fa-shopping-cart"></i> <span>订单管理</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i> <span>账号管理</span></a></li>
        <li><a href="#"><i class="fa fa-key"></i> <span>权限管理</span></a></li>
        <li><a href="#"><i class="fa fa-gear"></i> <span>系统配置</span></a></li>
        <li><a href="#"><i class="fa fa-unlock-alt"></i> <span>认证体系</span></a></li>
{% endblock %}